@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ishika's Website</h1>
    <p>To learn more about <a href="https://bcrec.ac.in/">bcrec</a>Please click here.</p>
</div>
